<%- include( './partials/header.ejs' ); -%>
<body >
    <div class="about-container">
    <h1>About Me</h1>
    <img src="../img/profile.png" alt="profile imgage" style="border-radius: 50%; width: 200px; height: 200px;"
    <p ><%= showContent %></p>
    </div>
</body>
<%- include( './partials/footer.ejs' ); -%>